<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <!--  add links to different controller-->

    <a href="/catalog/books">Books</a>
    <a href="/catalog/genres">Genres</a>
    <a href="/catalog/authors">Authors</a>
    <a href="/catalog/books/create">Create</a>
  </body>
</html>
